.about {
    height: fit-content;
    width: 99.5%;
    display: flex;
    margin-top: -18px;

    &__words {
        justify-content: center;

        h2 {
            text-transform: uppercase;
            font-weight: 600;
            font-size: smaller;
            margin-left: 2.5rem;
            margin-right: 2.5rem;
            margin-top: 3rem;
            letter-spacing: 0.2rem;
        }

        p {
            margin-left: 2.5rem;
            margin-right: 2.5rem;
            margin-top: 1rem;
            margin-bottom: 1rem;
            word-spacing: 0.1rem;
            line-height: 0.8rem;
            color: $Dark-Gray;
        }
    }
    &__image {
        height: auto;
        width: 1840px;
        img {
            width: 100%;
            object-fit: scale-down;
        }
    }
}