header {
    height: fit-content;
    width: fit-content;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: $White;
    z-index: 1;
    left: 50px;
    transform: translateY(50px);

    .close {
        display: flex;
        visibility: hidden;

        &.open {
            visibility: visible;
        }
    }

    .hamburger {
        display:flex;
        visibility: hidden;
    }
    .logo {
        font-size: small !important;
        font-weight: bold;
        cursor: pointer;
    }
    .navbar {
        ul {
            list-style-type: none;
            display: flex;

            li {
                font-size: medium;
                margin: 0 5px;
                padding-right: 30px;

                a {
                    color: $White;
                    transition: 0.3s;
                    border-bottom: 0;

                    &::after{
                        color: $White;
                    }

                    &:hover {
                        color: $White;
                        
                        content: "";
                        border-bottom: 2px solid;
                        transition: ease-in-out;
                        margin: 0 auto;
                        width: 50%;
                        border-left: 5px;
                        border-right: 15px;
                        padding-top: 20px;
                    }
                
            }

            }
        }
    }
}