@include mobile {
    header {
        .logo {
            position: absolute;
            left: 50%;
            margin-left: -100px;
        }
        .hamburger {
            visibility: visible;
        }
    }
    
}