@include mobile {
    header {
        .logo {
            position: absolute;
            left: 50%;
            margin-left: 50%;
        }
        .hamburger {
            visibility: visible;
        }
        .navbar {
            visibility: hidden;
        }
    }
    
}
@include desktop {
    header {

    }
}