@include mobile {
    header {
        .logo {
            position: absolute;
            left: 50%;
            margin-left: 50%;
        }
        .hamburger {
            visibility: visible;
        }
        .navbar {
            visibility: hidden;
        }
    }

    .slider {
        .swiper {
            .swiper-wrapper {
                .swiper-slide {
                }   
            }
        }
    }
    
}

@include desktop {
    header {

    }
}