.slider {
    top: -18px;

    .swiper {
        width: auto;
        height: fit-content;

        .swiper-button-prev {
            background: $Black;
            right: 50px;
            color: $White;
        }

        .swiper-wrapper {

            .swiper-slide {
                width: 50%;
                display: flex;

                .img-div {
                    height: 20rem;
                }

                .words {
                    height: 20rem;
                    justify-content: center;

                    h1 {
                        font-size:xx-large;
                        margin-left: 4rem;
                        margin-right: 4rem;
                        margin-top: 3rem;
                    }

                    p {
                        margin-left: 4rem;
                        margin-right: 4.5rem;
                        margin-top: 1.5rem;
                        word-spacing: 0.1rem;
                        line-height: 0.8rem;
                        color: $Dark-Gray;
                    }

                    .shop-btn {
                        letter-spacing: 0.3rem;
                        word-spacing: 0.3rem;
                        margin-left: 4rem;
                        margin-right: 4rem;
                        font-size: small;
                        color: $Black;
                        top: 1rem;

                        &:hover {
                            letter-spacing: 0.5rem;
                            color: $Very-Dark-Gray;
                        }
                    }
                }
            }
        }
    }
}