.slider {
    top: -18px;

    .swiper {
        width: auto;
        height: fit-content;

        .swiper-wrapper {

            .swiper-slide {
                width: 50%;
                display: flex;
            }
        }
    }
}