@import 'config';
@import 'navbar';

body {
    background: $White;
    color: $Black;
    height: 100vh;
    font-family: 'League Spartan', sans-serif;
    justify-content: center;
}

h1, h2, h3 {
    font-weight: 700;
}

p {
    font-size: 12px;
    font-weight: 500;
}

.logo {
    font-size: small !important;
    font-weight: bold;
    color: $White;
}